@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  color: #5e5c7f;
  background-color: #303030;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
}
